.header{
    position: absolute;
    left: 0;
    top: 0;
}

.logo img{
    width: 10vw;
    margin-left: 1vw;
    transition: 1s;
    animation: logo_rotate 2s;
    -webkit-box-shadow: 0 20px 30px -30px rgb(66, 66, 66);
	   -moz-box-shadow: 0 20px 30px -30px rgb(66, 66, 66);
	        box-shadow: 0 20px 30px -30px rgb(66, 66, 66);
}
@keyframes logo_rotate{
    0%{
        transform: translate(45vw,20vw);
        transform: scale(30,30);
        
    }
   
    100%{
        transform: translate(1,1);
        transform: scale(0,0);
    }
}

.logo{
    position: absolute;
    background-color: transparent !important;
}

@media(max-width:600px){
    .header div{
      
        font-size: 3vw;
    }
    .logo img{
        width: 14vw;
       
    }
}