.cart-item{
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr .5fr .5fr .5fr .5fr 1fr;
    flex-direction: row;
    justify-content: space-evenly;
}
.item-name,.item-price,.item-qty,.image{
    color: black;
    font-size: 15px;
    
}


.item-name,.item-price,.item-qty{
    padding-top: 30px;
}
.cart-item >.plus> i{
    font-size: 17px;
    margin-top: 30px;
    position: static;
    color: rgb(34, 34, 34);
}
.cart-item >.minus> i{
    font-size: 17px;
    margin-top: 30px;
    position: static;
    color: rgb(34, 34, 34);
}
.image{
    width: 70px;
    height: 70px;
    margin-top: 5px;
}

@media(max-width:600px){
    .cart-item{
      
        grid-template-columns: 1.5fr .7fr .5fr .5fr .5fr 1fr;
    }
}