.hide{
    display: none !important;
}

.navbar{
    width: 4vw;
    height: 16vw;
    background-color: var(--main_color);
    position: fixed;
    right: 0;
    top: 0;
    padding-top: .7vw;
    border-radius: 0 0 0 75px;
    z-index: 10;
}
.navbar > div{
    color: rgb(204, 204, 204);
    font-size: 1vw;
    width:4vw ;
    height: 1.8vw;
    margin: .5vw auto;
    cursor: pointer;
    /* transition: ease .5s; */
    text-align: center;
    justify-content: center;
    border-radius: 0 0 50px 0;
}
.Link{
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-size: 1vw;
    padding: .4vw;
}
.cart{
    margin-top: -.5vw !important;
}
.cart i{
    font-size: 1.5vw;
    margin-left: 0;
    margin-top: -.5vw;
}
.cart-counter{
    font-size: 1vw;
    margin-left: 2.5vw;
}
.shop:hover,.about:hover,.search:hover,.events:hover,.login:hover{
/* background-color: rgb(204, 204, 204);
color: var(--main_color); */
/* transform: translate(-10px,0); */
color: white;
border-bottom: 2px solid white;
}
.Link:hover{
    text-decoration: none;
    color: white;
    }
.navbar-mobile{
    display: none;
    z-index: 10;
}
@media(max-width:600px){
 
    .fa-bars,.fa-times{
        font-size: 25px !important;
    }
    .fa-shopping-cart{
        font-size: 25px !important;
    }
    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: block;
        width: 200px;
        height: 200px;
        position: fixed;
        background-color: var(--main_color);
        border-radius: 100px;
        right: -140px;
        top: -140px;
        transition: all 1s;
    }
    .menu-bars{
        margin-top: 130px;
        margin-left: 35px;
        cursor: pointer;
    }
    .menu-close-bars{
        margin-top: 410px !important;
        margin-left: 360px !important;
    }
    .menu-bars i,.menu-close-bars i{
        color: white;
        font-size: 4vw !important;
    }
    .menu-bars i{
        margin-top: 3vw;
        margin-left: -1vw;
    }
    .navbar-mobile-clicked{
        width: 800px;
        height: 800px;
        border-radius: 400px;
        right: -400px;
        top: -400px;
        transition: all 1s;
    }
    .navbar-mobile>.shop-m,.about-m,.events-m,.cart-m,.search-m,.login-m{
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
    .Link{
        color: white;
        font-size: 18px;
    }
    .shop-m{
        bottom: 350px !important;
        left: 50px !important;
    }
    .about-m{
        bottom: 280px !important;
        left: 80px !important;
    }
    .events-m{
        bottom: 210px !important;
        left: 110px !important;
    }
    .search-m{
        bottom: 140px !important;
        left: 160px !important;
    }
    .login-m{
        bottom: 80px !important;
        left: 230px !important;
    }
    .cart-m{
        bottom: 30px !important;
        left: 320px !important;
    }
    .cart i{
        margin-left: -20px;
    }
    .cart-counter{
        font-size: 20px;
        margin-left: 25px;
    }
}
@media(max-width:418px){
    .navbar-mobile{
        right: -145px;
        top: -145px;
    }
    .fa-bars{
        margin-left: -1vw !important;
        margin-top: 4.5vw !important;
    }
    .navbar-mobile-clicked{
        width: 600px;
        height: 600px;
        border-radius: 300px;
        right: -300px;
        top: -300px;
        transition: all 1s;
    }
    .shop-m{
        bottom: 262.5px !important;
        left: 37.5px !important;
    }
    .about-m{
        bottom: 210px !important;
        left: 60px !important;
    }
    .events-m{
        bottom: 157.5px !important;
        left: 82.5px !important;
    }
    .search-m{
        bottom: 105px !important;
        left: 120px !important;
    }
    .login-m{
        bottom: 60px !important;
        left: 172.5px !important;
    }
    .cart-m{
        bottom: 15px !important;
        left: 240px !important;
    }
    .menu-close-bars{
        margin-top: 307.5px !important;
        margin-left: 270px !important;
    }
}
@media(max-width:355px){
    .fa-bars{
        margin-top: 5.5vw !important;
    }
}