.cart-menu{
    width: 500px !important;
    height: inherit !important;
    background:linear-gradient(to bottom,rgb(165, 165, 165),rgb(207, 207, 207));
    position: fixed;
    left: 150%;
    top: 80%;
    border-radius: 50%;
    transition: .9s;
    z-index: 200;
    padding-bottom: 150px;
}
.close-icon{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
.close-icon i{
    color: rgb(68, 68, 68);
    font-size: 30px;
}
.show-cart-menu{
    left: 50%;
    top: 50%;
    width: 350px;
    height: 400px;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    transition: .9s;
}
.cart-title{
    position: absolute;
    left: 10px;
    color: black;
    font-size: 25px;
}
.total-title{
    position: absolute;
    right: 130px;
    bottom: 80px;
    color: black;
    font-size: 20px;
    margin-right: 10px;
}
.total-aed{
    position: absolute;
    right: 50px;
    bottom: 80px;
    color: black;
    font-size: 20px;
    background: rgb(255, 255, 255,.2);
}
.items-title{
    position: absolute;
    right: 42%;
    top: 90px;
    color: black;
    font-size: 25px;
}
.cart-details{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 30px;
    background-color: rgb(255, 255, 254,.3);
}
.buttons-div{
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.buttons-div div{
    background-color: rgb(255, 255, 255);
    width: 180px;
    text-align: center;
    padding: 8px 0;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0) 1px 1px 2px 0px;
    transition: ease-in-out 0.3s;
}
.buttons-div div:hover{
    background-color: rgb(133, 133, 133);
    transform: translateY(-3px);
    box-shadow: black 3px 5px 8px 0px;

}
@media(max-width:600px){
    .cart-menu{
        width: 90% !important;
    }
}