.cart-menu{
    width: 5px;
    height: 5px;
    background:linear-gradient(to bottom,rgb(242, 201, 132),rgb(197, 0, 115));
    position: fixed;
    left: 150%;
    top: -100%;
    border-radius: 10px;
    transition: .9s;
}
.show-cart-menu{
    left: 50%;
    top: 50%;
    width: 350px;
    height: 500px;
    transform: translate(-50%,-50%);
    transition: .9s;
}
.cart-title{
    position: absolute;
    right: 45%;
    color: white;
    font-size: 25px;
}
.total-title{
    position: absolute;
    left: 100px;
    top: 40px;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.total-aed{
    position: absolute;
    right: 110px;
    top: 40px;
    color: white;
    font-size: 20px;
}
.items-title{
    position: absolute;
    right: 42%;
    top: 90px;
    color: white;
    font-size: 25px;
}
.cart-details{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 130px;
}